<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm Blog</title>
</head>
<body>

<h1>Thêm Blog</h1>

<form th:action="@{/blogs/create}" th:object="${blog}" method="post">

    <div>
        <label>Tiêu đề:</label>
        <input type="text" th:field="*{title}">
    </div>

    <br>

    <div>
        <label>Nội dung:</label>
        <textarea th:field="*{content}" rows="5" cols="40"></textarea>
    </div>

    <br>

    <button type="submit">Lưu</button>

    <a th:href="@{/blogs}">Quay lại</a>

</form>

</body>
</html>